<!--<h4>ANGULAR 4</h4>

<app-propertybinding></app-propertybinding>
<app-eventbinding></app-eventbinding>
<app-calculator></app-calculator>
<app-interpolation></app-interpolation>
<app-twowaybinding></app-twowaybinding>
<app-gotcharactor></app-gotcharactor>
<app-structuraldirective></app-structuraldirective>
<app-validationform></app-validationform>
<app-attributedirective></app-attributedirective>

<h4>router viewBox:</h4>
<li><a routerLink="/home">Home</a></li>
<li><a routerLink="/deparments">Departments</a></li> 
<li><a routerLink="/employee">Employees</a></li>
<router-outlet></router-outlet>
<hr>-->

        

<nav class="navbar navbar-primary bg-primary" style="height: 55px;">


    <a style="margin-left: 700px;cursor:grab; font-size: 25px ;font-weight: bolder;color: white;" class="example z-depth-5" routerLink="/Home">Home</a>
    <a style="margin-left: 10px;cursor:grab; font-weight: bolder; font-size: 20px;color: white;" class="example z-depth-5" routerLink="/conatactme">CONTACT US</a>
    <a style="margin-left: 5px;cursor:grab; font-weight: bolder;font-size: 20px;color: white;" class="example z-depth-5">About US</a>
    <a style="margin-left: 5px;cursor:grab; font-weight: bolder;font-size: 20px;color: white;" class="example z-depth-5">JOBS</a> 
    <a style="margin-left: 5px;cursor:grab; font-weight: bolder;font-size: 20px;color: white;" class="example z-depth-5">CLIENTS</a>
    <a style="margin-left: 5px;cursor:grab; font-weight: bolder;font-size: 20px;color: white;" class="example z-depth-5">EMPLOYERS</a> 
  </nav>
  <router-outlet></router-outlet>

