<h4>l'm looking for..</h4>

  <div class="input-group md-form form-sm form-2 pl-0" style="width: 700px; margin-left: 350px;margin-top: 20px;">
    <select class="form-control my-0 py-1 amber-border" type="text" placeholder="Search" aria-label="Search">
    <div class="input-group-append">
      <span class="btn btn-primary" id="basic-text1">Search</span>
    </div>
    <option>Cloud Architect</option>
      <option>Cloud Consultant
      </option>
      <option>Cloud Product and Project Manager
      </option>
      <option>Cloud Services Developer
      </option>
      <option>Computer and Information Research Scientist
      </option>
      <option>Computer and Information Systems Manager
      </option>
      <option>IT Analyst
      </option>
      <option>Network Engineer
      </option>
      <option>Senior Network Architect
      </option>
      <option>Help Desk Specialist
      </option>
      <option>Data Center Support Specialist
      </option>
      <option>Senior Database Administrator
      </option>
      <option>Chief Information Officer (CIO)
      </option>
      <option>Security Specialist
      </option>
      <option>Information Security
      </option>
      <option>Application Developer
      </option>
      <option>Associate Developer
      </option>
      <option>Developer
      </option>
      <option>.NET Developer
      </option>
      <option>Software Architect
      </option>
      <option>Software Engineer
      </option>
      <option>Senior Web Administrator
      </option>
      <option>Web Administrator
      </option>
      <option>Webmaster
      </option>
    </select>
  </div>
  
<div class="custom-control custom-checkbox custom-control-inline"  style="margin-left: 350px;">
  <input type="checkbox" class="custom-control-input" id="defaultInline1">
  <label class="custom-control-label" for="defaultInline1">Part Time</label>
</div>

<div class="custom-control custom-checkbox custom-control-inline" style="margin-left: 25px;">
  <input type="checkbox" class="custom-control-input" id="defaultInline2">
  <label class="custom-control-label" for="defaultInline2">Full Time</label>
</div>


<label style="margin-left: 35px;">Select Your Country:</label>
    <select id="location" style="width: 350px; height: 35px; margin-left: 15px; margin-top: 10px;" name="location">
      <option>Australia</option>
      <option>Algeria</option>
      <option>Bangladesh</option>
      <option>Belgium</option>
      <option>Bhutan</option>
      <option>Brazil</option>
      <option>France</option>
      <option>Germany</option>
      <option>India</option>
      <option>Iceland</option>
      <option>Indonesia</option>
      <option>Iran</option>
      <option>Iraq</option>
      <option>Ireland</option>
      <option>Italy</option>
      <option>Japan</option>
      <option>Kenya</option>
      <option>Korea, North</option>
      <option>Myanmar (Burma)</option>
      <option>Poland</option>
      <option>Pakistan</option>
      <option>Romania</option>
      <option>South Africa</option>
      <option>Sri Lanka</option>
      <option>Switzerland</option>
      <option>Thailand</option>
      <option>Zimbabwe</option>
  </select>
  <br>
  <a (click)="signin()" class="btn btn-primary" style="margin-top: 50px;margin-left: 900px;">REGISTER</a>